extends layout

block content
  h1 NASA – Homework!
  p Welcome to RSM NASA – Homework! by Victor Aguilar
  p #{text_error}
  form(action='/', method='GET')
    p
      | Ingrese las coordenadas:
      input(type='text', name='location', pattern='^(-?\\d+(\\.\\d+)?),\\s*(-?\\d+(\\.\\d+)?)$' )
    input(type='submit', value='Enviar')
  if images
    ul
      each img in images
        img(width='500px' height='500px' src=img.url)
        li= img.date

